@{
    ViewBag.Title = "Index";
}

<div style="color: black;margin-top:15px;margin-left:18px;">
    <p>黑名单：&nbsp;</p>

<p>以上黑名单会员：请禁止给予收菜，或是评价！</p>

<p><strong>新会员请进平台快刷２群 &nbsp;343162836 加群请备注 编号昵称 &nbsp;有快刷1群的请不要添加2群！</strong></p>

<p>任务点异常：没有及时找管理处理的，直接删除账号。<br />
拉人奖励：拉一位新商家奖励5点，15天不领取点，视为放弃。<br />
帐号要求：快刷商家帐号，十天不接发任务，十天不登陆帐号，一律禁用再次审核网店，没达到一钻，一律不开通帐号。<br />
接发任务：不在QT的 禁用3天 接发任务，除了放任务可以在流量大厅，接任务没在平台快刷大厅的，禁用1天。</p>

<p>每个月没有完成发布任务100单 扣3点，没有完成接任务扣3点，都没完成扣6点，3个月没有完成任务者禁用账号！<br />
刷单要求：手机单5-10分完成，电脑单5-15分钟完成，做不到的去普刷。</p>

<p>&nbsp;</p>

<p>【默认单链接1点 &nbsp; 双链接1.5点，要求白号可以不加点】</p>

<p>平台基本要求：不能限制IP，要求4* 1z，小号请加点，没加点不能要求小号，平台规定10天后可以再接，可以要求换地址小号。</p>

<p>额外加0.2点，只是用来更快的被完成任务所使用，不能利用0.2点来要求小号！</p>

<p>发3G手机单 2个点 &nbsp; &nbsp;收款必须5位编号+名称&nbsp;<br />
手机单截图流程：电脑清理-电脑后台-应用清理-手机后台-进店前-进店-上-中-下-评价-拍前确认-手机银行-手机后台</p>

<p>一.关于小号使用明细 &nbsp;查询网址： http://www.131458.com/<br />
&nbsp; &nbsp;1.白号可拍多链接，实物上心后7天可用，虚拟1天上心后30天可用，2天上心后15天可用（实物虚拟混合上心的，按虚拟算）<br />
&nbsp; &nbsp;2.上心小号隔天使用（拍双链接隔2天再用，拍3链接以上或套餐禁用10天）天不过1单，不看待收货，待评价，拍多单的禁25天<br />
&nbsp; &nbsp;3.使用速成号，禁用30天（不管有没有刷成功）<br />
&nbsp; &nbsp;4.自己或朋友买东西的号不要拿来刷单，违规禁15天。<br />
&nbsp; &nbsp;5.小号网站查询必须显示（安全-平衡）危险小号不可使用。<br />
二.关于刷单<br />
&nbsp; &nbsp;1.发任务前准备好关键词，及图片。（默认，人气，销量)一次说完。<br />
&nbsp; &nbsp;2.先关闭刷单用浏览器，再清理登陆小号截图后台，刷后截图后台最少2笔订单（全屏截图）<br />
&nbsp; &nbsp;3.电脑单：货比一家1分上下截图，主刷4-5分 进店报IP 上中下评价销量截图，副款2-3分上下截图，聊天和提交前确认。<br />
&nbsp; &nbsp;4.手机单：进店前截图，进店确认，上中下评价销量截图，聊天和提交前确认（需要3G流量手机单，2个点）<br />
&nbsp; &nbsp;5.默认任务点1点，不能要求小号心级，需要要求请加点。<br />
&nbsp; &nbsp;6.不能限IP（同城除外&ldquo;缓缓.懂的 等限制IP词汇．发现，直接回收任务）（7天后，或是收菜过，换个地址都可以接）<br />
&nbsp; &nbsp;7.拒绝接方任务时候请说明原因！没说明原因无故拒绝或理由不充分的 禁2天。</p>

<p>&nbsp; &nbsp;8.使用接任务的电脑最多只允许挂一个千牛，发现多个的可以直接拒绝任务！</p>

<p>快刷针对违规处罚的新公告:扣点不禁用，只限于轻者违规者！</p>

<p>不及时返点 扣任务的2倍（收款截图开始 30分钟内）</p>

<p>不及时返款 扣2个点（当天的24点前）</p>

<p>无理由拒绝任务和挑小号 扣2个点</p>

<p>接发任务不在QT 扣3个点（管理接到投诉3分钟）</p>

<p>注：以上所有解释权归QT3688所属！</p>

    </div>