@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <title>Index</title>
</head>
<body>
    <img src="~/Picture/1221102.jpg" style="width: 100%" />
    <div style="position:absolute; left: 600px; top: 300px;text-align:center" >
       @using (Html.BeginForm("Index", "Login", FormMethod.Post))
       {
        <h3>请登录或注册： </h3>    
        <table>   
            <tr>
                <td><label for="name">用户名： </label></td>
                <td> <input name="UserName" type="text" class="form-control" placeholder="用户名" required autofocus></td>
            </tr>
   <tr>
       <td>
            <label>密 码：</label>
       </td>
       <td>
           <input name="Password" type="password" class="form-control" placeholder="密码" required>
       </td>
   </tr>    
           
            </table>

       @* <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me">
                Remember me
            </label>
        </div>*@
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top:15px">登录</button>
       }
        @using(Html.BeginForm("Register","Login",FormMethod.Post))
        {
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top:15px">注册</button>
       }
    </div>
</body>
</html>

